body, #intro-container{
    background-color: white;
}

.card {
    background-color: white;
    /* dark blue glow */
    box-shadow: 0 0 10px rgb(22, 88, 229),
        /* white glow */
        0 0 20px rgb(22, 88, 229);
    border-radius: 10px;
    
}

#warrant-status {
    text-shadow: 0 0 5px #19cedd,
    0 0 10px #19cedd,
    0 0 20px #19cedd
}


#addCart:hover {
    background-color: #DCC7DD;
    color: black;
}

/* transition */
#addCart {
    transition: 0.5s;
}

