
.card {
    background-color: white;    
    box-shadow: 0 0 10px rgb(0, 0, 0),
             0 0 15px rgb(0, 0, 0),
             0 0 20px rgb(71, 71, 71);
        /* white glow */

}

/* #warrant-status {
    text-shadow: 0 0 5px #19cedd,
    0 0 10px #19cedd,
    0 0 20px #19cedd
} */


#addCart:hover {
    background-color: #ffa41c;
    color: black;
}


#addCart {
    transition: 0.5s;
}
 
