.card {
    background-color: black;
    box-shadow: 0 0 10px rgba(220, 199, 221, 1),
        /* white glow */
    0 0 20px rgba(220, 199, 221, 1),
    0 0 30px rgba(220, 199, 221, 1);
}


.product-text {
    color: #ffffff;
    font-size: 0.8rem
}

.seller-text {
    color: #757070;
    font-size: 0.6rem
}

.add-to-cart-btn-text, .add-to-cart-btn-text:hover {
    color: #DCC7DD;
    font-size: 0.45rem;
    background-color: #000000;
    border-color: #DCC7DD;
    margin-bottom: auto;
}

/* Top text - Warrant Status + Price */
.top-text {
    color: #DCC7DD;
    font-size: 0.5rem;
}

/* Warranted Glow */
.warrant-status {
    text-shadow: 0 0 5px #19cedd,
    0 0 10px #19cedd,
    0 0 30px #19cedd,
    0 0 40px #19cedd;
}

.cart-icon {
    width: 1rem;
}
