/* animation */
#player-identifier-box:hover {
    color: #DCC7DD;
    box-shadow: 0 0 10px rgb(22, 88, 229),
            /* white glow */
            0 0 20px #1658e5;
}

#player-identifier-box:focus {
    outline-style: none;
}


#player-identifier-box {
    transition: .55s;
}

/* next btn animation */

#bottom-div:hover, #bottom-div:focus, 
#nextBtn:hover, #nextBtn:focus {
    background-color: #1658e5;
    color: black;
    
}

#bottom-div,#nextBtn {
    transition: .4s;
}