#intro-container{
    background-color: #EEEEEE;
}


/* animation */
#player-identifier-box:hover {
    color: #0b31ae;
    box-shadow: 0 0 10px #19319e,
        /* white glow */
        0 0 20px #343434
}

#player-identifier-box:focus {
    outline-style: none;
}


#player-identifier-box {
    transition: .55s;
}

/* next btn animation */

#bottom-div:hover, #bottom-div:focus, 
#nextBtn:hover, #nextBtn:focus {
    background-color: #4d6cf5;
    color: white;
    
}

#bottom-div,#nextBtn {
    transition: .4s;
}


/* line between ad quality and warrant */
hr {
    border-color: #bababa;
    
}